.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  &__buttons {
    display: none;
  }
  &__credits {
    display: flex;
    align-items: center;
    img {
      padding: 10px;
    }
  }
}