.slider {
	display: block;
	position: relative;
  height: auto;
  width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.images-container {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .5s;
}
.images-container img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.buttons-block > div {
	color: #fff;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
	z-index: 99;
}
#prev-btn {
	left: 5px;
}
#next-btn {
	right: 5px;
}